<settings>
	<margins>0</margins>
	<equal_spacing>false</equal_spacing>
	<redraw>true</redraw>
	<number_format>
		<letters>
			<letter number="1000">K</letter>
			<letter number="1000000">M</letter>
			<letter number="1000000000">B</letter>
		</letters>
	</number_format>
	<data_sets> 
		<% graphs.each do |id| %>
			<data_set>
			<compare_list_box selected="true">true</compare_list_box>

				<title><%= id %></title>
				<short><%= id %></short>
				<color><%= sprintf("%02x02x02x", rand(200), rand(200), rand(200)) %></color>
				<file_name>/graphs/<%= id %>/data.csv</file_name>
				<csv>
					<reverse>true</reverse>
					<separator>,</separator>
					<date_format>YYYY-MM-DD hh:mm:ss</date_format>
					<decimal_separator>.</decimal_separator>
					<columns>
						<column>date</column>
						<column>volume</column>
						<column>close</column>
					</columns>
				</csv>
			</data_set>
		<% end %>
	</data_sets>

	<charts>
		<chart>
			<height>60</height>
			<title>Value</title>
			<border_color>#CCCCCC</border_color>
			<border_alpha>100</border_alpha>

			<values>
				<x>
					<bg_color>EEEEEE</bg_color>
				</x>
			</values>
			<legend>
				<show_date>true</show_date>
			</legend>

			<column_width>100</column_width>

			<graphs>
				<graph>
					<data_sources>
						<close>close</close>
					</data_sources>

					<compare_source>close</compare_source>

					<bullet>round_outline</bullet>

					<legend>
						<date key="false" title="false"><![CDATA[{close}]]></date>
						<period key="false" title="false"><![CDATA[open:<b>{open}</b> low:<b>{low}</b> high:<b>{high}</b> close:<b>{close}</b>]]></period>
					</legend>
				</graph>
			</graphs>
		</chart>

	</charts>

	<data_set_selector>
		<enabled><%= graphs.size > 1 ? 'true' : 'false' %></enabled>
	</data_set_selector>

	<period_selector>
		<periods>
			<period type="HH" count="1">1H</period>
			<period type="DD" count="1">1D</period>
			<period type="DD" count="10">10D</period>
			<period type="MM" count="1">1M</period>
			<period type="MM" count="3">3M</period>
			<period type="YTD" count="0">YTD</period>
			<period selected="true" type="MAX">MAX</period>
		</periods>

		<periods_title>Zoom:</periods_title>
		<custom_period_title>Custom period:</custom_period_title>
	</period_selector>

	<header>
		<enabled>false</enabled>
	</header>

	<scroller>
		<graph_data_source>close</graph_data_source>
		<resize_button_style>dragger</resize_button_style>	
		<playback>
			<enabled>true</enabled>
			<speed>3</speed>
		</playback>
	</scroller>
</settings>
